@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
html, body, header, h1, h2, h3, h4, p, a, div, ul, li {
  margin: 0;
  padding: 0;
  display: block; }

span {
  display: block;
  margin: 0 auto; }
  span p, span a {
    display: inline-block; }

select {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  padding: 0.1rem; }

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  padding: 2px 4px;
  margin: 0.2rem 0.3rem;
  font-size: 0.9rem; }

table {
  display: table; }

table td {
  display: table-cell;
  vertical-align: top; }

hr {
  margin: 2rem 0;
  display: block;
  border-color: #81C0E6;
  border-width: 2px 0 0 0;
  border-style: dashed; }

body {
  background: #F3FAFF; }

a {
  color: #2A3D49;
  text-decoration: none;
  transition: 0.4s; }

a:hover {
  color: #AB5588;
  text-decoration: underline; }

h1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #2A3D49; }

#login_container {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center; }

#login_box {
  font-family: "Source Sans Pro", sans-serif;
  background: #81C0E6;
  align-self: center;
  padding: 2rem;
  box-shadow: 4px 4px 10px #2A3D49; }

#logout_box {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0.2rem 1rem;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 2; }

#navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #81C0E6;
  z-index: 0; }
  #navigation ul {
    padding: 1rem; }
  #navigation li {
    float: left;
    font-family: "Source Sans Pro", sans-serif;
    color: #2A3D49;
    padding: 0 1rem 1rem 0; }
    #navigation li a {
      font-weight: bold;
      font-size: 1.4rem; }

#content_box {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  z-index: -1; }
  #content_box #content_tag {
    width: 60%;
    margin: auto;
    text-align: center;
    align-self: center;
    color: #2A3D49;
    z-index: 3; }
  #content_box #menu_tag {
    width: 60%;
    margin-top: 10vh;
    margin-bottom: 5vh;
    text-align: left;
    align-self: flex-start; }
    #content_box #menu_tag em {
      font-weight: 600;
      font-decoration: none;
      font-size: 1.2rem;
      margin-right: 0.5rem; }
    #content_box #menu_tag .order_box {
      border: 1px solid #2A3D49;
      padding: 1rem;
      margin: 1rem; }
      #content_box #menu_tag .order_box a:hover {
        background: none;
        color: #81C0E6; }
  #content_box h1, #content_box h2, #content_box h3, #content_box p {
    font-family: "Source Sans Pro", sans-serif; }
  #content_box h1, #content_box p {
    margin: 1rem 0; }
  #content_box h2 {
    margin: 2rem 0 0 0; }

#order_table {
  margin: 2rem auto;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  max-width: 40rem; }
  #order_table tr {
    margin: 0; }
  #order_table td {
    border: 1px solid #2A3D49;
    padding: 0.5rem;
    margin: 0; }
  #order_table p {
    margin: 0; }

span.form_control {
  width: 100%;
  max-width: 40rem; }

.embolden {
  font-style: normal;
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
