{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<link rel="shortcut icon" href="{% static 'media/favicon.ico' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'manager_guide/css/style.css' %}"/>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="{% static 'manager_guide/scripts/manager.js' %}"></script>
		<meta name="viewport" content="width=device-width, initial-scale=0.5">
		<title>Chego Chinatown Manager Guide</title>
	</head>
	<body>
		<div id="login_container">
		{% block content %}
		{% endblock %}
		</div>
	</body>
</html>